<!-- login.component.html -->
<div class="container">
  <div id="wrapper">
    <div id="left">
      <div id="signin">        
        <div>
          <div class="login">
            <strong>Login</strong>
          </div>
        </div>
        <form>
          <div>
            <label>Email or Username</label>
            <input [(ngModel)]="username" name="username" type="text" class="text-input" placeholder="Enter your email or username" />
          </div>
          <div>
            <label>Password</label>
            <input [(ngModel)]="password" name="password" type="password" class="text-input" placeholder="Enter your password" />
          </div>
          <div class="flex">
            <input type="checkbox" id="remember-me" />
            <label for="remember-me">Remember Me</label>
          </div>
          <div>
            <button type="button" (click)="login()" class="primary-btn">Log In</button>
          </div>
        </form>
      </div>
    </div>
    <div id="right">
      <div id="showcase">
        <div class="showcase-content">
          <h1 class="showcase-text">
            <strong>Welcome</strong>
          </h1>
          <a href="#" class="secondary-btn">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>
